<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="649701391539-22jsnc76ilm3d9ql28dmmccrpsc1evat.apps.googleusercontent.com"
    />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <title>Home</title>
  </head>
  <body>
    <style>
.block:hover {
  background-color: #ddd;
  color: black;
}
</style>
</head>
<body>
<div class="d-grid gap-2" >
  <a href="/login"><button class="btn btn-primary; block" type="button" >LOGIN</button></a>
  <a href="/register"><button class="btn btn-primary; block" type="button" >REGISTER</button></a>
</div>
</body>
  </body>
</html>
