.back {
  background-image: url("./inigo-de-la-maza-s285sDw5Ikc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: sans-serif;
}
