.back {
  background-image: url("./vegetables-border-gray-background-health-wellness-campaign.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: sans-serif;
}
